/** global element styling **/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #0E622F;
  text-decoration: none;
}

/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 60px;
  width: 100%;
  z-index: 500;
  padding: 0px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FEFFFE;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
  height: 65px;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 700px;
  margin-top: 50px;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}
h3 {
  font-size: 1.5em;
}

h4 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #2ecc71;
  font-size: 2em;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  margin-top: 50px;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.email input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  transition: border-color 0.3s;
}

.email input[type='email']:focus {
  border-color: #2ecc71;
}

.email input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: 0;
  background-color: #2ecc71;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.email input[type='submit']:hover {
  background-color: #27ae60;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
  .email {
    margin-top: 120px;
  }
}

#about-us {
  padding-top: 40px;
}

#about-us .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: #33890f;
}

@media (max-width: 550px) {
  #about-us .icon {
    display: none;
  }
}

#about-us .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #about-us .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #about-us {
    margin-top: 0;
  }
}

#forests {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

#forests > iframe {
  max-width: 560px;
  width: 100%;
}

#get-involved {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 50px 10px 10px;
  border: 1px solid #739243;
  border-radius: 3px;
  background-color: #e1f6d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(1);
}

.product:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.product > .level {
  background-color: #739243;
  color: #FEFFFE;
  padding: 15px 0;
  width: 100%;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
  color: #555;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #739243;
  color: #fff;
  font-weight: 400;
  padding: 10px 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.product > button:hover {
  background-color: #287d0b;
}

.price {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #33890f;
  color: #fff;
  border: 3px solid #287d0b;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.price:hover {
  background-color: #287d0b;
}


@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #eee;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

h2 {
  font-size: 3em;
  padding-bottom: 50px;
  color: whitesmoke;
  opacity: 0;
  transition: opacity 3s ease;
}

.background:hover h2{
  opacity: 0.6;
}

.background {
  background: url(https://github.com/CodGeo/HTML_basic/blob/main/Forest%20BG.jpg?raw=true);
  background-size: 100% 100%;
}

